# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebignore
.ebextensions/

*.pyc

instance/
*.config

school_data/2015-10 Four Digit Experienced Pay (Converted).csv
school_data/IPEDS data.csv