<html>
	
	<head>
		{% if title %}
			<title>{{ title }}</title>
		{% else %}
			<title>HiUni Reports</title>
		{% endif %}
	</head>

	<body>
		{% if current_user.is_authenticated %}
			{% if current_user.employee != None %}
				{% set navigation_bar = [
					("/", "index", "HiUni"),
					("/students", "students", "Reports"),
					("/register_employee", "register_employee", "Register an employee"),
					("/logout", "logout", "Log out")
				] -%}
			{% elif current_user.customer.organization != "" %}
				{% set navigation_bar = [
					("/", "index", "HiUni"),
					("/students", "students", "Reports"),
					("/questions", "questions", "Add a new student"),
					("/logout", "logout", "Log out")
				] -%}
			{% else %}
				{% set navigation_bar = [
					("/", "index", "HiUni"),
					("/students", "students", "My Report"),
					("/logout", "logout", "Log out")
				] -%}
			{% endif %}
		{% else %}
			{% set navigation_bar = [
				("/", "index", "HiUni"),
				("/register", "register", "Sign up")
			] -%}
		{% endif %}
		
		{% set active_page = active_page|default("index") -%}
		<p>
			{% for href, id, caption in navigation_bar %}
				{% if id == active_page %}
					<b><a href = "{{ href }}">{{ caption }}</a> | </b>
				{% else %}
					<a href = "{{ href }}"> {{ caption }}</a> | 
				{% endif %}
			{% endfor %}
		</p>
		
		<hr>

		{% with messages = get_flashed_messages() %}
      		{% if messages %}
        		<ul>
        			{% for message in messages %}
            			<li>{{ message }} </li>
        			{% endfor %}
        		</ul>
      		{% endif %}
    	{% endwith %}
		{% block content %}{% endblock %}
	</body>

</html>