{% extends "base.html" %}

{% block content %}
	
	<h1>{{ student.name }}'s Report</h1>
	<ul>
		{% if student.income != "over 110,000" %}
			{% set income = "$" + student.income %}
		{% else %}
			{% set income = student.income %}
		{% endif %}
		
		<li>Location: <b>{{ student.city }}, {{ student.state }}</b></li>
		<li>Career: <b>{{ report.career.name }}</b></li>
		<li>Income: <b>{{ income }}</b></li>
		<li>Budget: <b>${{ student.budget }}</b></li>
	</ul>
	<br>

	{% for pathway in report.pathways %}
		
		<h2><b>Pathway #{{ loop.index }}</b></h2>
		<ul>
			<li>Total Cost: <b>${{ pathway.cost() }}</b></li>
			<li>Time: <b>{{ pathway.duration() }} years</b></li>
			<li>Median Salary: <b>${{ pathway.median_salary() }}</b></li>
			<li>ROI: <b>{{ pathway.roi() }}%</b></li>
			
			{% for step in pathway.sorted_steps() %}
				
				<ul>
					<h3>Step #{{ step.number }}: {{ step.title() }}</h3>
					
					<ul>
						{% if step.program.name != "General Studies" %}
							<li>Major: <b>{{ step.program.name }}</b></li>
						{% endif %}
						<li>School: <b>{{ step.program.school.name }}</b></li>
						<li>Cost: <b>${{ step.cost }}</b></li>
						<li>Duration: <b>{{ step.duration() }} years</b></li>
						{% if step.program.school.admission_rate != None %}
							<li>Acceptance Rate: <b>{{ step.program.school.admission_rate }}%</b></li>
						{% endif %}
						<li>Description: <br><i>{{ step.description() }}</i></li>
					</ul>
				</ul>
			{% endfor %}
		</ul>
		<br>
	
	{% endfor %}

{% endblock %}