{% extends "sidebar.html" %}
{% set sidebar_active = True %}
{% set active_page = "students" %}

{% block right_content %}
	
	<div class="panel panel-primary">
		<div class="panel-heading"><h4>Students</h4></div>
		<div class="panel-body">
			<form class="form" role="form" method="post" action="">
				
					{{ form.hidden_tag() }}
					
					<div class="form-group-lg">
						{% for field in form if field.widget.input_type != "hidden" %}
							<label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
							{{ field(class="form-control" )}} <br>
						{% endfor %}
						<button class="btn btn-success" type="submit">Submit</button>
					</div>
			
			</form>
		</div>
	</div>

{% endblock %}